@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">WagWan</h1>
    <p>Learn to code you idiat <a href="https://docs.microsoft.com/aspnet/core"> click the bombaclart link</a>.</p>
</div>
<ul>
    @for (int i = 1; i <= 5; i++)
    {
        <li> Item is @i</li>
    }
</ul>
